# 01.intro

## shortcut

- ctrl + enter : 현재 셀 실행
- shift + enter : 현재 셀 실행 & 아래로 이동
- alt + enter : 현재 셀 실행 & 아래에 새로운 셀 추가

### 주의사항

1. Apple / apple
2. git add . / git add.
3. message / massage

# 01. 변수
```
var_name = value
```

- 변수이름은 어떤 이름이든 사용가능
- 다만 영어, 숫자, _를 이용해서 선언
- 키워드는 불가능

In [9]:
a = 100

In [11]:
a

100

In [15]:
import keyword 
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [18]:
seoul_dust_rate = 150

## 1.1 number (int, float, complex)

In [22]:
type(a)

int

In [24]:
a = 10000

In [25]:
b = 1.1

In [27]:
b

1.1

In [29]:
a

10000

In [31]:
type(b)

float

In [33]:
c = 1 + 1j

In [34]:
c

(1+1j)

In [36]:
type(c)

complex

## 1.2 boolean (True or False를 뜻하는 데이터)

In [39]:
a = True

In [41]:
a

True

In [43]:
type(a)

bool

In [45]:
b = False

In [47]:
b

False

In [49]:
type(b)

bool

## 1.3 string

- `'`,`"`를 이용하여 표현
- 하나의 따옴표만 사용 (일관성 유지)

In [56]:
a = 'hello'

In [57]:
b = "hi"

In [58]:
a

'hello'

In [59]:
b

'hi'

- 혼용하여 써야 하는 경우 (`'`, `"`)

In [62]:
print('hello my name is "changhee"')

hello my name is "changhee"

In [64]:
print('hello\n my name is \'changhee\'')

hello
 my name is 'changhee'

- 줄 바꿔쓰기 \n

In [68]:
a = '''
hello
world
hi
'''

In [69]:
a

'\nhello\nworld\nhi\n'

In [71]:
a = 10
b = '홍길동은 10살입니다.'

In [73]:
print(b)

홍길동은 10살입니다.

# string interpolation

- %s formatting
- str.format()
- f-string (f'{age}')

In [76]:
age = 10

In [79]:
print('홍길동은 %s살입니다.' % age)

홍길동은 10살입니다.

In [80]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 10살입니다.

In [81]:
print(f'홍길동은 {age}살입니다')

홍길동은 10살입니다

In [85]:
age = 23

In [87]:
print(f'저는 {age}살 입니다.')

저는 23살 입니다.

# 02. 연산자

## 2-1 산술연산자

In [90]:
a = 2
b = 5

In [93]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
-3
10
0.4

In [96]:
print (a ** b)
print (a // b)
print (a % b)

32
0
2

In [101]:
result = divmod(a,b) #divmod = 몫과 나머지를 한번에 계산함.

In [102]:
#a를 b로 나눈 몫을 만들고, 나머지를 result에 저장함

In [103]:
print(result)

(0, 2)

# 2.2 비교연산자

In [104]:
a = 5
b = 10

In [108]:
print (a > b)
print (a < b)
print (a >= b)
print (a <= b)

False
True
False
True

In [111]:
print(a == b)
print(a != b)

False
True

In [114]:
#대소문자 구분 필요
print('hi' == 'hi')
print('hi' == 'Hi')

True
False

# 2.3 논리연산자
- and : 특정 조건 두개(양쪽) 모두 True일떄, True를 반환
- or : 양쪽 모두 False일때, False를 반환
- not : 상태를 부정

In [151]:
print(True and True)
print(False and False)
print(False and True)
print(True and False)

True
False
False
False

In [120]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [122]:
a = True
print(not a)

False

In [134]:
# 단축평가 
# and 시작이 T면 뒤에 프린트 / 시작이 F면 앞에 프린트
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [135]:
# or 시작이 T면 앞에 프린트 / 시작이 F면 뒤에 프린트
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

## 2.4 복합 연산자

In [137]:
a = 2
b = 3

In [146]:
a = a + b
a = a - b
a = a * b 
a = a / b

In [149]:
a += b
a -= b
a *= b
a /= b
a // b
a %= b
a ** b

8.0

In [153]:
a

2.0

## 2.5 기타연산자

In [156]:
a = 'hi'
b = 'hello'

In [162]:
# concatenation 
print(a + b)
print(1 + b)

hihello

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [163]:
a = [1,2,3]
b = [2,3,4]

In [164]:
print(a + b)

[1, 2, 3, 2, 3, 4]

In [166]:
print(1 in a)

True

In [168]:
print(7 in a)

False

In [173]:
a = 100
b = 100

In [179]:
# == is는 비슷하지만 다름. / 256까지는 == , is와 같다고 봄. but, 그 이후는 다르다고 판단. 
# == 값만 비교 / is 동일 여부 비교 (더 큰 범위)
print(a == b)
print(a is b)

True
True

### 연산자 우선순위

0. ()를 통해서 그룹
1. **
2. 산술연산자(*,/)
3. 산술연산자(+,-)
4. 비교연산자,in,is
5. not
6. and
7. or

In [185]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

# 형 변환

## 3.1 암시적 형변환

In [192]:
a = True
b = False
c = 1

In [190]:
print(a + b)
print(a + c)

1
2

In [194]:
if 1:
    print('hello')

hello

## 3.2 명시적 형변환
- int() #정수
- float() #소수
- str() #문자형
- bool() #True or False

In [203]:
a = 1
b = '반'

In [202]:
print(a + b)

1반

In [204]:
print(str(1) + b)

1반

In [206]:
a = '3'
print(a)

3

In [211]:
print(type(a))
print(int(a))

b = int(a)
print(b)
print(type(b))

<class 'str'>
3
3
<class 'int'>

In [215]:
#apple은 int형태로 바꿀 수 없기에 오류
c = 'apple'
d = int(c)

ValueError: invalid literal for int() with base 10: 'apple'

In [218]:
#0만 False, 나머지 True
a = 1
b = 0
c = 123
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [221]:
#데이터가 리스트에 하나라도 들어있다면 True로 인지 / 리스트가 비워져있으면 False로 프린트
print(bool([]))
print(bool([1,2,3]))

False
True

In [1]:
# 주피터는 실행하는 순서 중요! 
# 값이 다르게 나올경우 다시 시작 kenel -> clear output 선택

# 4. 시퀀스 자료형
- 시퀀스는 데이터의 **순서대로** 나열된 자료구조 (순서대로 나열되었다는 것 != 정렬된것)
- 시퀀스는 모두 []대괄호로 인덱스 접근함!
- 1. list 
- 2. tuple
  3. range
  4. string

## 4.1 list (리스트, 배열)
- 선언 : `var_name = [value1, vulue2, vulue3, ...]` # value : 모두 들어갈 수 있음.
- 접근 : `var_name[index] #index는 0부터는 시작

In [4]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [17]:
location = ['서울', '부산', '대전']
print(location)
print(location[0]) 
#내가 가진 범위안에서만 불러올 수 있음.

location[2] = '대구'
print(location)

['서울', '부산', '대전']
서울
['서울', '부산', '대구']

## 4.2 tuple (튜플)
- 선언 : var_name = (value1, value2, value3, ...)
- 접근 : var_name[index]
- 수정불가능하다(immutable)

In [18]:
location = ('서울', '대전', '대구')
print(location)
print(location[0])

('서울', '대전', '대구')
서울

In [22]:
#tuple은 수정 불가능 (한번 만들면 고정값을 가져 바꿀 수 없음.)
location[2] = '부산'

TypeError: 'tuple' object does not support item assignment

In [27]:
result = print(divmod(5,2))
print(type(result))

(2, 1)
<class 'NoneType'>

In [29]:
x = 1
y = 2 

(x,y) = (y,x)
print(x,y)

2 1

## 4.3 Range 
- range(n) : 0부터 n-1까지의 범위 (0<=range<n)
- range(n,m) : n부터 n-1까지의 범위
- range(n,m,s) : n부터 m-1까지 s만큼 증가하는 범위

In [33]:
lotto = range(45)
print(lotto)

# list는 range의 모든 값을 보여줌 (0부터 ~ 44까지)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [35]:
lotto = range(1,46)
print(lotto)

print(list(lotto))

range(1, 46)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [39]:
even = range(2,21,2)
print(list(even))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [42]:
numbers = range(0, -21, -2)
print(list(numbers))

[0, -2, -4, -6, -8, -10, -12, -14, -16, -18, -20]

## 4.4 string
- 기본 데이터 구조 참고
- string은 단일

In [44]:
s = 'hi my name is chang'
print(s[7])

a

## 4.5 시퀀스에서 활용가능한 연산 / 함수

In [52]:
my_list = ['a','b','c','d','e']
my_tuple = (6,7,8,9,10)
my_range = range(5)
my_string = '가나다라마'

In [53]:
# indexing
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

a
6
0
가

In [59]:
#slicing : 0부터 n-1까지 출력
#var_name[index1:index2]
print(my_list[0:5])
print(my_tuple[0:5])
print(my_range[0:5])
print(my_string[0:5])

['a', 'b', 'c', 'd', 'e']
(6, 7, 8, 9, 10)
range(0, 5)
가나다라마

In [66]:
# 인덱스 생략 ( ~ 끝까지)
print(my_list[3:])
print(my_list[:3])

['d', 'e']
['a', 'b', 'c']

In [68]:
# 음수 인덱스 (파이썬에서만 가능)
print(my_list[-1])
print(my_list[-3:-1])

e
['c', 'd']

In [72]:
# step
print(my_list[::2])

['a', 'c', 'e']

In [77]:
# in / not in
print(1 in my_list)
print('a' in my_list)

False
True

In [79]:
print('a' not in my_list)
print('z' not in my_list)

False
True

In [87]:
# concatennation (같은 것끼리만 연결 가능)
print(my_list + [1,2,3,4,5])
print(my_tuple + (1,2,3))

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5]
(6, 7, 8, 9, 10, 1, 2, 3)

In [98]:
# * (곱하기)
print(my_list * 2)
print('a' * 5)

# [0,0,0,0,0,0,0,0]
print([0] * 50)

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']
aaaaa
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [102]:
#len 길이(몇개인지)
len(my_list)

5

In [104]:
max(my_list)

'e'

In [106]:
min(my_list)

'a'

# 시퀀스형이 아닌 자료구조

## 5.1 set
- 수학에서의 집합과 비슷한 개념 (중복값이 없음 / 고유한 하나의 값만 존재 !)

- 선언 : var_name = {value1, value2, value3, ...}

In [108]:
my_set_a = {1,2,3,4,5}
my_set_b = {1,3,5,7,9}

In [110]:
print(my_set_a)
print(my_set_b)

{1, 2, 3, 4, 5}
{1, 3, 5, 7, 9}

In [116]:
# set 
# - : a 집합에서 b 집합을 뺀 형태
# | : a 집합에서 b 집합을 더한 형태
# & : a 집합과 b 집합의 공통된 값만 뽑아냄.
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
print(my_set_a & my_set_b)

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [119]:
location = ['서울', '대전', '대구','서울', '대전', '대구']
print(set(location))

{'대구', '서울', '대전'}

## 5.2 Dictionary
- 선언 : `var_name = {key1: value1, key2: value2, key3: value3,...}`
- 접근 : `var_name[key]`

In [127]:
my_dict = {'서울': '02', '경기': '031'}
print(my_dict['서울'])

02

In [129]:
my_info = {
    'name': 'yunseo', 
    'location': 'seoul', 
    'age': 23, 
    'skill': ['python', 'git']
}

In [139]:
print(my_info['location'])
print(my_info['age'])
print(my_info['skill'][0])

seoul
23
python

**데이터 타입**
- number
- boolean
- string

**자료구조**
- 시퀀스
1. [list] : mutable
2. (tuple) : immutable
3. range() : immutable
4, 'string' : immutable

- 시퀀스가 아닌 것 
1. {Set} : mutable
2. {Dict ignary} : mutable