## 조건문 (if문)

1. if문은 반드시 참/거짓을 판단할 수 있는 `조건식`과 함께 사용한다.
   - `if<조건식>:`
2. `<조건식>` 참인 경우 : `:`이후의 문장을 실행
3. `<조건식>` 거짓인 경우 : `else:` 이후의 문장을 실행

```
if <조건식>:
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드
```

In [143]:
#외부의 데이터를 받아볼 때 사용자가 입력 :input : 숫자로 인지 ! 
# 크리스마스일때 출력 / 아닐경우 no출력

my_string = input()
print(my_string)

if my_string == '12/25':
    print('merry christmas!')
else:
    print('no')

 12/12

12/12
no

In [145]:
num = int(input())

if num % 2 == 1:
    print('odd')
else:
    print('even')

 2

even

In [29]:
num = int(input())

if num % 2 == 0:
    print('even')
else:
    print('odd')

 2

even

In [158]:
#2의 짝수가 아닌 것을 먼저 : 홀수(odd) / 2의 짝수 : even
num = int(input())

if num % 2:
    print('odd')
else:
    print('even')

 1

odd

In [34]:
num = int(input('5의 배수를 판단해드리겠습니다'))

if num % 5 == 0:
    print('yes')
else:
    print('no')

5의 배수를 판단해드리겠습니다 100

yes

In [38]:
num = int(input())

# 5의 배수가 아닌 것 : 1,2,3,4
if num % 5:
    print('no')
# 나머지가 0인 경우
else:
    print('yes')

 235

yes

- **초급 문제 (기본적인 if 문 활용)**

`사용자로부터 나이를 입력받아 아래 조건에 따라 출력을 다르게 하는 프로그램을 작성하세요.`

```
7세 이하 → "유아" 출력
8세 이상 19세 이하 → "청소년" 출력
20세 이상 → "성인" 출력
```

In [167]:
age = int(input())

if age <= 7:
    print('유아')

elif 8 <= age <= 19:
    print('청소년')

else:
    print('성인')

 25

성인

- **중급문제 (if-elif-else 활용)**
`사용자로부터 세 개의 숫자를 입력받아 가장 큰 숫자를 출력하는 프로그램을 작성하세요.`

```
첫 번째 숫자: 7  
두 번째 숫자: 2  
세 번째 숫자: 5  
출력: 가장 큰 숫자는 7입니다.
```

- 세가지 숫자 모두 같을 경우 `세가지 숫자 모두 같습니다` 출력

In [181]:
##### 3개의 숫자에 대해서 values를 설정해야 함.
# 가장 큰 수에 대한 변수 설정해야 함.

num1 = int(input())
num2 = int(input())
num3 = int(input())

if num1 >= num2 and num1 >= num3:
    max_num = num1
elif num2 >= num1 and num2 >= num3:
    max_num = num2
else:
    max_num = num3
print(f'가장 큰 숫자는 {max_num}입니다.')

 45
 89
 15

가장 큰 숫자는 89입니다.

In [180]:
num1 = int(input())
num2 = int(input())
num3 = int(input())

if num1 == num2 == num3:
    print('모두 같습니다')

else:
    max_num =max(num1,num2,num3)
    print(f'가장 큰 숫자는 {max_num}입니다.')

 45
 26
 78

가장 큰 숫자는 78입니다.

##### elif
- 위에서부터 차근차근 계산 -> 다 맞지 않을 경우 else로 이동
```
if <조건식>:
    참인 경우

elif <조건식>:
    elif문이 참인경우

else:
    위의 모든 조건식이 거짓인 경우
```

In [53]:
score = int(input())

if score >= 90: 
    print('A')
    if score >=95:
        print('good!!')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

 90

A

### 조건 표현식

- `true_value if <조건식> else false_value`

In [182]:
# if True: 는 항상 참(True) 이므로 else 부분은 절대 실행되지 않음
# 따라서 a = 100 이 실행되고, print(a) 하면 100이 출력됨

a = 0 
if True:
    a = 100
else:
    a = -100
print(a)

100

In [201]:
# True_value if <조건식> else false_value
a = -100 if False else 100
print(a)

100

In [186]:
a = 100 if True else -100
print(a)

100

In [203]:
# 양수일때 양수 출력, 그렇지 않으면 0 출력
num = int(input())

if num >= 0:
    result = num
else:
    result = 0
print(result)

 15

15

In [204]:
#위 문제를 조건 표현식으로 표현
#True_value if <조건식> else False_value

num = 0 if False else num
print(num)

15

In [211]:
#아래 식을 조건 표현문으로 바꾸기

num = int(input())

result = num if num >= 0 else 0
print(result)

 -15

0

In [208]:
#if else 구문으로 바꾸기

num = int(input())

if num >= 0:
    print(num)
else:
    print(0)

 -15

0

In [215]:
# 2로 나눠지지 않는 경우 홀수로 표현, 2로 나눠지면 짝수로 표현  

num = int(input())

result = '홀수' if num % 2 else '짝수'
print(result)

 12

짝수

In [218]:
#위를 조건식으로 표현
num = int(input())

if num % 2:
    print('홀')

else:
    print('짝')

 12

짝

- **중급 문제 (조건 표현식 중첩 활용)**
- `사용자로부터 나이를 입력받아 아래 조건에 따라 출력하는 코드를 작성하세요.`

```
19세 이하 → "미성년자"
20세 이상 64세 이하 → "성인"
65세 이상 → "노인"
```

```
나이 입력: 15  
출력: 미성년자

나이 입력: 35  
출력: 성인

나이 입력: 70  
출력: 노인
```

In [226]:
num = int(input())

if num <= 19:
    print('미성년자')
elif 20 <= num <= 64:
    print('성인')
else:
    print('노인')

 15

미성년자

In [229]:
#위의 식을 조건 표현식으로 표현

num = int(input())

result = '미성년자' if num <= 19 else ('성인' if 20 <= num <= 64 else '노인')
print(result)

 95

노인

## 반복문

### while문
```
while <조건식>:
    실행할 코드
```

In [2]:
# a = 0일때
a = 0 

while a < 5:
    print(a)
    a = a + 1         # a += 1

0
1
2
3
4

- **중급 문제: 숫자 맞히기 게임**
    
```
1~100 사이의 랜덤한 숫자를 생성합니다.
사용자는 숫자를 입력하며, 정답보다 크거나 작은지 힌트를 줍니다.
정답을 맞히면 시도 횟수를 출력하고 종료합니다.
입력값이 1~100 범위를 벗어나면 다시 입력하도록 합니다.
```
```
숫자를 맞혀보세요 (1~100): 150  
잘못된 입력입니다. 다시 입력하세요.  
숫자를 맞혀보세요 (1~100): 50  
더 작은 숫자입니다.  
숫자를 맞혀보세요 (1~100): 25  
더 큰 숫자입니다.  
숫자를 맞혀보세요 (1~100): 37  
정답입니다! 시도 횟수: 3
```

## for 문
- 정해진 범위내의 **반복**
  
```
for variable(item) in sequence:
    code
```

In [56]:
numbers = [1,2,3,4,5]

for number in numbers:
    print(number)

1
2
3
4
5

In [58]:
word = 'apple'

for char in word:
    print(char)

a
p
p
l
e

In [62]:
for i in range(5):
    print(i)

0
1
2
3
4

In [73]:
numbers = range(1,51)

for number in numbers:
    if number % 5 == 0:
        print(number)

5
10
15
20
25
30
35
40
45
50

In [81]:
#ebumerate() : 낱낱이 세다 -> 인덱스와 함께 프린트 
# 괄호 활용하여 아래처럼 분리해서 출력할 수 있음.
locations = ['서울', '대전', '부산']

for (index, location) in enumerate (locations):
    print(index)
    print(location)

0
서울
1
대전
2
부산

### dictionary 반복

- for key in dict: #키값만 출력
- for key in dict.keys(): #키값과 그에 대응하는 벨류 출력
- for value in dict.values(): #벨류만 출력
- for key,value in dict.items(): #키값, 벨류가 옆으로 출력

In [86]:
info = {
    'name': 'gildong',
    'location': 'seoul',
    'age': 20,
    'phone': '010-1234-1234',
}

In [89]:
#dictionary : 아무것도 안 붙었을때는 키값만 출력함.
for k in info:
    print(k)

name
location
age
phone

In [94]:
#.keys() : 키값에 접근할 수 있도록함.
for k in info.keys():
    print(k)
    print(info[k])

name
gildong
location
seoul
age
20
phone
010-1234-1234

In [99]:
#key를 뜻하는 값들(values)만 출력 
for v in info.values():
    print(v)

gildong
seoul
20
010-1234-1234

In [113]:
for k, v in info.items():
    print(k,v)

name gildong
location seoul
age 20
phone 010-1234-1234

In [1]:
blood_type = {
    'a': 15,
    'b': 8,
    'c' : 5,
    'ab' : 4,
}

In [3]:
# 혈액형은 ~가 있습니다.

blood_type = {
    'a': 15,
    'b': 8,
    'c' : 5,
    'ab' : 4,
}

print('혈액형 종류는 다음과 같습니다.')

for blood in blood_type:
    print(blood)

혈액형 종류는 다음과 같습니다.
a
b
c
ab

In [5]:
# 총 학생은 몇명입니다. 

blood_type = {
    'a': 15,
    'b': 8,
    'c' : 5,
    'ab' : 4,
}

result = 0
for number in blood_type.values():
    result = result + number


print(result)

32

In [6]:
for k,v in blood_type.items(): #옆으로 출력
    print(f'{k}형은 {v}명입니다.')

a형은 15명입니다.
b형은 8명입니다.
c형은 5명입니다.
ab형은 4명입니다.

## break

반복문을 종료 시키는 키워드

In [6]:
#break : 가장 가까운 상황에서 정지시키는 것 
for i in range(100):
    print('여기는 for문', i)
    if i > 5:
        print('여기는 브레이크')
        break

여기는 for문 0
여기는 for문 1
여기는 for문 2
여기는 for문 3
여기는 for문 4
여기는 for문 5
여기는 for문 6
여기는 브레이크

In [126]:
while True: 
    rice = input()
    if rice == '쌀':
        print('잡았다!!')
        break

 보리
 쌀

잡았다!!

### continue

- continue 이후의 코드를 실행하지 않고 다음 반복을 진행
- 특정상황에서 스킵하고 싶을 때 사용

In [128]:
for i in range(20):
    if i % 2 == 1:
        continue
    
    print(i)

0
2
4
6
8
10
12
14
16
18

In [132]:
ages = [10,20,30,40,50]
for age in ages:
    if age < 20:
        continue

    print(f'{age}살은 성인입니다.')

20살은 성인입니다.
30살은 성인입니다.
40살은 성인입니다.
50살은 성인입니다.

### else
- else 문은 끝까지 반복된 경우 실행됩니다.
- break를 만나지 않은 경우 실행

In [138]:
for i in range(10):
    if i > 100:
        break
    print(i)
else:
    print('모두 완료!')

0
1
2
3
4
5
6
7
8
9
모두 완료!