## 함수(function)

- input -> function -> output
- **중복 배제 (Don't repeat yourself; DRY)**: 소프트웨어 개발 원리의 하나로, 모든 형태의 정보 중복을 지양하는 원리이다. 특히 다층 구조 시스템에서 유용

In [10]:
# 사각형의 가로의 세로의 길이를 이용해서 면적, 둘레를 구하는 코드

height2 = 50
width2 = 20

area2 = height2 * width2
perimeter2 = (height + width) * 2

print(f'사각형의 면적은 {area2}이고 둘레는 {perimeter2}입니다.')

사각형의 면적은 1000이고 둘레는 140입니다.

## 함수의 선언과 호출
- `매개변수(parameter)`는 **함수 안에서의 정의 및 사용에 나열되어 있는 변수**

- `전달 인자(argument)`는 함수를 호출할 때 전달되는 **실제 값**을 의미

- 선언 : 
```python
def func_name(parameter1, parameter2, ...):
    code1
    cede2
    ...
    return value
```

- 호출 :
    - `func_name(parameter1, parameter2, ...)`

In [ ]:
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2

    print(f'사각형의 면적은 {area}이고 둘레는 {perimeter}입니다.')

In [19]:
# 함수의 이점 : 지속적으로 재사용 가능
rectangle(50,30)
rectangle(20,100)

사각형의 면적은 1500이고 둘레는 160입니다.
사각형의 면적은 2000이고 둘레는 240입니다.

In [24]:
# print 또한 프린트해주는 함수
# word() : 함수의 형태
print('asdf')
str('hi')

asdf

'hi'

In [30]:
#함수 목록 호출 (builtin 함수)

dir(__builtin__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'PythonFinalizationError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '_IncompleteInputError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [2]:
# 최대값 불러오는 함수

max(10,89)

89

In [40]:
def my_max(num1, num2):
    if num1 > num2:
        print(f'가장 큰 값은 {num1}입니다.')
    elif num1 < num2:
        print(f'가장 큰 값은 {num2}입니다.')
    else:
        print('두 숫자가 같습니다.')

In [45]:
my_max(10,10)

두 숫자가 같습니다.

## 함수의 return 

- 함수가 return을 만나면 해당값을 반환하고 함수를 종료
    - for문의 break와 유사 (아래의 코드가 많더라도 return을 만나면 종료됨.)
- 만약 return이 없는 경우 none을 자동으로 반환
- return은 오직 하나의 객체만 반환한다.

In [123]:
my_max(1,8)

가장 큰 값은 8입니다.

In [57]:
# 이때 출력되는 none은 값이 없음.
result = my_max(1,2)
print(result)
result * 2

가장 큰 값은 2입니다.
None

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [86]:
def my_max2(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2

In [61]:
my_max(1,2)

가장 큰 값은 2입니다.

In [64]:
result = my_max2(1,2)
print(result)

2

In [82]:
def my_for(x):
    for i in range(x):
        print(i)
        if i == 3:
            return i

my_for(4)

0
1
2
3

3

In [83]:
# return은 오직 하나의 객체만 반환한다.
def my_def(x):
    return x * 2, x

my_def(10)

(20, 10)

In [88]:
def my_list_max(lst1, lst2):  # 리스트 두 개를 매개변수로 받음
    return lst2

result = my_list_max([1, 2, 3], [2, 3, 4])  
print(result)

[2, 3, 4]

In [116]:
def my_list_max(lst1, lst2): #리스트에 대한 매게변수 지정해야 함.
    return lst1 #return은 하나의 객체만 반환.

result = my_list_max([1,2,3], [2,3,4])
print(result)

[1, 2, 3]

In [100]:
# 01 list1과 list2의 합을 비교한 경우
def my_list_max(list1, list2): #리스트에 대한 매게변수 지정해야 함.

    sum_of_list1 = list1[0] + list1[1] + list1[2]
    sum_of_list2 = list2[0] + list2[1] + list2[2]

    if sum_of_list1 > sum_of_list2:
        return list1 #return은 하나의 객체만 반환.

    else:
        return list2

In [99]:
my_list_max([1,2,3], [2,3,4])

[2, 3, 4]

In [121]:
# 02 for문 활용하기.
def my_list_max(list1, list2):
    sum_of_list1 = 0 #변수 설정 매우 중요
    sum_of_list2 = 0

    #list1 = [1,2,3] 각각의 숫자가 아이템에 들어가서 sum
    for item in list1:
        sum_of_list1 = sum_of_list1 + item #모든 숫자들의 총합을 sum_of_list1에 저장

    for item in list2:
        sum_of_list2 += item

    if sum_of_list1 > sum_of_list2:
        return list1
    else:
        return list2

In [122]:
my_list_max([1,2,3],[2,3,4])

[2, 3, 4]

In [114]:
# 03 sum이라는 함수 활용
def my_list_max(list1,list2):
    sum_of_list1 = sum(list1)
    sum_of_list2 = sum(list2)

    if sum_of_list1 > sum_of_list2:
        return list1
    else:
        return list2

In [113]:
my_list_max([1,2,3],[2,3,4])

[2, 3, 4]

## 함수의 인수

- 기본적으로 함수는 위치를 기준으로 인수를 판단합니다.

In [131]:
def cylinder(r,h):
    return 3.14 * r ** 2 * h

In [132]:
cylinder(3,10)

282.6

In [133]:
cylinder(10,3)

942.0

### 기본값
```python
def func_name(p1=v1):
    code1
    return value

In [146]:
def greeting(name='익명'):
    return f'{name}님 반갑습니다.'

In [137]:
greeting('오창희')

'오창희님 반갑습니다.'

In [153]:
# 인자가 빠졌을때 오류발생
greeting('장윤서')

'장윤서님 반갑습니다.'

In [164]:
# sep = '' 띄어쓰기에 넣어주고 싶을때
# end = '\n' 줄바꾸기
print('안녕하세요', '반갑습니다.',sep ='! ', end ='\n')
print('저는 장윤서입니다.')

안녕하세요! 반갑습니다.
저는 장윤서입니다.

In [182]:
#필수인자가 먼저 나와야 해서 익명을 앞에 넣으면 오류가 생김.
# 위치인자보다 뒤에 위치해야 동작가능하다.
def greeting(age, name ='익명'):
    return f'{name}님의 나이는 {age}살입니다.'

In [180]:
greeting(23, '장윤서')

'장윤서님의 나이는 23살입니다.'

## 키워드 인수
- 함수를 호출(실행)할때 내가 원하는 위치에 직접적으로 값을 전달

In [184]:
def greeting(age, name ='익명'):
    return f'{name}님의 나이는 {age}살입니다.'

In [186]:
greeting(10,'길동')
greeting(10)
greeting(name='길동', age=10)

'길동님의 나이는 10살입니다.'

### 가변인자 리스트
```python
def func_name(*parms):
    code
    ...
    return value

# 함수인자에 몇개가 들어갈지 모를때 가변인자 사용
# 몇개가 들어오는지 몰라도 리스트로 만들어줌

In [188]:
print('1','2','asdf')

1 2 asdf

In [190]:
def my_print(*words):
    print(words)

In [194]:
my_print('my','name','is',1,2,3,4)

('my', 'name', 'is', 1, 2, 3, 4)

In [198]:
max(1,2,3,4,5,6,7)

7

In [211]:
# 내가 한 예제
def my_max(*args):
    if not args:  # 만약 값이 없으면 예외 처리
        return 
    return max(args)  # 전달된 값 중 최댓값 반환

# 최댓값 출력
print(my_max(1, 2, 3, 4, 5, 6, 7))  # 출력: 최댓값: 7

7

In [220]:
# 선생님
def my_max(*numbers):
    #numbers = (1,2,3,4,5,6,7)
    #max_num = 0

    for number in numbers:
        if max_num < number:
            max_num = number

    return max_num

In [213]:
my_max(156,75,49,78,165)

165

In [218]:
#max_num(기준점)이 비교하고자 하는 변수보다 이미 커버림.
my_max(-1,-2,-3,-4)

0

### 정의되지 않은 키워드 인자 처리하기
```python
def func_name(**kwargs):
    return value

```

In [2]:
info = {
    'name' : 'hong',
    'age' : 10,
}
print(info)

{'name': 'hong', 'age': 10}

In [8]:
#dict 함수 호출하는 방식
# dict(**kwargs)

info = dict(name='kim', age=20)
print(info)

{'name': 'kim', 'age': 20}

In [14]:
# 키워드형태의 데이터를 dictionary로 만들어줌. 
def my_dict(**kwargs):
    print(kwargs)

my_dict(asdf='가나다', age=123, test='asdf')

{'asdf': '가나다', 'age': 123, 'test': 'asdf'}

In [19]:
def my_func(parms1, parms2='temp', *numbers, **kwargs):
    return 0

In [35]:
# parms1, parms2에 인자를 넣지 않아서 오류
my_func()

TypeError: my_func() missing 1 required positional argument: 'parms1'

In [21]:
my_func(123)

0

In [25]:
# parms1 = 123 / parms2 = 456
my_func(123,456)

0

In [29]:
# parms1 = 123 / parms2 = 456 / numbers = (234,567,678)
my_func(123,456,234,567,678)

0

In [33]:
# kwargs = {a:1, b:2, c:3}
my_func(123,456,234,567,678, a=1, b=2, c=3)

0

In [47]:
### lamda 표현식
- 함수를 만드는 또다른 방법
- 임시적으로 쓰는 일회용 함수 (저장하지 않고 휘발됨)

```python
lambda parameter:

SyntaxError: invalid syntax (3854461456.py, line 2)

In [40]:
def my_sum(num1, num2):
    return num1 + num2

In [42]:
my_sum(1,2)

3

In [54]:
# lambda 정의
(lambda num1, num2: num1 + num2)(1,2)

3

### 타입힌트

In [60]:
def something(a: int, b: int) -> int:
    return a + b

my_sum(1,2)

3

In [62]:
# 타입힌트대로 안해도 실행은 됨. (참고하는 용도임)
something('asdf','qwer')

'asdfqwer'

### 이름 공간 (namespace), 스코프 (scope)
- python에서 사용하는 이름들은 이름공간에 저장되어있습니다.

(LEGB 룰에 따라 접근)

1. local : 정의된 함수 내부
2. Enclosed : 상위 함수
3. Global : 함수 밖
4. Built-in : python이 기본적으로 가지고 있는 함수

In [73]:
#built-in함수로 인식 (문자형으로 인식)
result = str(123)
print(result)

TypeError: 'str' object is not callable

In [71]:
str = 'hello'

In [72]:
# 
result = str(123)
print(result)

TypeError: 'str' object is not callable

In [77]:
a = 1

def local_scope(a):
    return a

a = '가나다라'
local_scope('asdf')

'asdf'

In [84]:
my_list = [1,2,3,4,5]
for i in my_list:
    print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [89]:
a = 0

def global_scope():
    global a
    a = a + 1 
    return a

global_scope()

1

### 재귀

- 함수 내부에서 자기 자신을 호출하는 함수

```
n! = 1 * 2 * 3 * ... * n

1! = 1
2! = 1 * 2 = 1! * 2
3! = 1 * 2 * 3 = 2! * 3
n! = (n-1)! * n
```

In [92]:
def fact(n):
    if n ==1:
        return 1
    else:
        return fact(n-1) * n

In [94]:
fact(10)

3628800

In [97]:
fact(7)

5040