## 자료구조

> 여러가지 자료구조가 가지고 있는 메소드(함수) 알아보기

In [3]:
print(dir('hello'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## 문자열 메소드

In [5]:
a = 'hello my name is hong'

In [7]:
print(a)

hello my name is hong

In [10]:
# str은 수정 불가능함.
a[0] = 'H'

TypeError: 'str' object does not support item assignment

In [227]:
# 첫단어만 대문자로 출력 = capitalize
a = 'hello my name is hong'
a.capitalize()

# a.capitalize : 첫단어만 대문자로
# a. title : 각 단어의 첫글자를 대문자로
# a.upper : 모든 단어를 대문자로
# a.lower : 모든 단어를 소문로

'Hello my name is hong'

In [19]:
'hello my name is hong'.capitalize()

'Hello my name is hong'

In [21]:
print(a)

hello my name is hong

In [23]:
# 각각의 단어들을 모두 대문자로 바꿔 출력함.
a.title()

'Hello My Name Is Hong'

In [27]:
# 모든 단어들을 모두 대문자로 바꿔 출력함.
a.upper()

'HELLO MY NAME IS HONG'

In [30]:
# 모든 단어들을 모두 소문자로 바꿔 출력함.
a.lower()

'hello my name is hong'

In [228]:
my_list = ['my', 'name', 'is']
'!'.join(my_list)

'my!name!is'

In [34]:
'?'.join('배고프다')

'배?고?프?다'

In [45]:
# strip
a = '     \t  hello         \n'
a.strip()

'hello'

In [50]:
# strip안에 들어오는 문자를 지워버림
a = '!!!!!!hello????'
a.strip('!')

#a.strip(char='')

'hello????'

In [53]:
a = '------hello------'
a.lstrip('-')
a.rstrip('-')

'------hello'

In [61]:
# replace(old,new,[count])
a = 'wooooooooow'
a.replace('o','!',3)

'w!!!oooooow'

In [76]:
# find = index 출력
a ='apple'
a.find('a') # => 0
a.find('l')
a.find('z') # => 없는 데이터를 찾을 시 -1 출력 (없습니다.)

-1

In [78]:
a = 'apple'
a.index('a')
a.index('e')

# index에서 -1은 맨 뒤에 있는 값을 의미하기 때문임
a.index('z') # => 없는 데이터를 찾을 시 오류남.

ValueError: substring not found

In [82]:
# split은 데이터를 나눠주고 이를 리스트로 만들어서 보여줌
a = 'my name is hong'

a.split()

['my', 'name', 'is', 'hong']

In [84]:
a = 'my!name!is!hong'

a.split('!')

['my', 'name', 'is', 'hong']

In [86]:
a = 'woooooow'

a.count('o')

6

## 리스트 메소드

In [88]:
numbers = [2,6,1,4,8,3,2,8]

In [96]:
# append 더하다
numbers.append(10)
print(numbers)

[2, 6, 1, 4, 8, 3, 2, 8, 10, 10, 99, 100, 99, 100, 99, 100, 10]

In [92]:
a = [99, 100]

In [98]:
numbers.extend(a) # => numbers + a
print(numbers)

[2, 6, 1, 4, 8, 3, 2, 8, 10, 10, 99, 100, 99, 100, 99, 100, 10, 99, 100, 99, 100]

In [102]:
numbers.insert(3, 5) #세번째에 5를 넣겠습니다. 
print(numbers)

[2, 6, 1, 5, 5, 4, 8, 3, 2, 8, 10, 10, 99, 100, 99, 100, 99, 100, 10, 99, 100, 99, 100]

In [106]:
# 첫번째 x를 찾아서 제거, 없으면 오류
numbers.remove(8)
print(numbers)

ValueError: list.remove(x): x not in list

In [108]:
numbers.pop()
print(numbers)

[2, 6, 1, 5, 5, 4, 3, 2, 10, 10, 99, 100, 99, 100, 99, 100, 10, 99, 100]

In [111]:
numbers.pop(0) # => 0index 값이 삭제됨.
print(numbers)

[5, 5, 4, 3, 2, 10, 10, 99, 100, 99, 100, 99, 100, 10, 99, 100]

In [119]:
#sort 정렬되어서 프린트
numbers.sort()
print(numbers)

[2, 3, 4, 5, 5, 10, 10, 10, 99, 99, 99, 99, 100, 100, 100, 100]

In [120]:
numbers.sort(reverse=True)
print(numbers)

[100, 100, 100, 100, 99, 99, 99, 99, 10, 10, 10, 5, 5, 4, 3, 2]

In [126]:
a = [5,3,2,7,8,1]
print(sorted(a))
print(a)

[1, 2, 3, 5, 7, 8]
[5, 3, 2, 7, 8, 1]

In [128]:
my_list = ['a','e','o','b','z']
my_list.sort()
print(my_list)

['a', 'b', 'e', 'o', 'z']

In [134]:
# reverse 뒤집어서 프린트됨.
print(numbers)
numbers.reverse()
print(numbers)

[2, 3, 4, 5, 5, 10, 10, 10, 99, 99, 99, 99, 100, 100, 100, 100]
[100, 100, 100, 100, 99, 99, 99, 99, 10, 10, 10, 5, 5, 4, 3, 2]

In [137]:
# 10이라는 숫자가 몇개 있는지 세기
numbers.count(10)

3

### list copy

In [139]:
origin_list = [1,2,3]
copy_list = origin_list

In [143]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [148]:
copy_list[0] = 100
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [151]:
origin_list = [1,2,3]
copy_list = origin_list[:] # => 처음부터 끝까지 슬라이싱

copy_list[0] = 100

print(origin_list)
print(copy_list)

[1, 2, 3]
[100, 2, 3]

In [155]:
o_l = [1,2, [10,11]] 
c_l = o_l[:]

c_l[0] = 100
c_l[2][0] = -10

print(o_l)
print(c_l)

[1, 2, [-10, 11]]
[100, 2, [-10, 11]]

In [160]:
#import 추가하다
import copy

o_l = [1,2,[10,11]]
c_l = copy.deepcopy(o_l) # +-=> 깊숙하게 카피

c_l[0] = 100
c_l[2][1] = -11

print(o_l)
print(c_l)

[1, 2, [10, 11]]
[100, 2, [10, -11]]

## list comprehension

In [162]:
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [165]:
result = []

for number in numbers:
    temp = number ** 3
    result.append(temp)

print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [171]:
result = [number ** 3 for number in numbers]

print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [175]:
# 짝수만 고르기

numbers = list(range(1,31))

result = []
for number in numbers:
    if number % 2 == 0:
        result.append(number)

print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [180]:
# 짝수만 고르기 (2)

numbers = list(range(1,31))
result = [number * 2 for number in numbers if number % 2 == 0] #append number가 앞 number로 표현

print(result)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60]

In [198]:
# 연습 모음 제거 문제

words = 'my name is hong'
# => my nm s hng

In [216]:
# 1-1 for / if (모음인 경우)

vowels = ['a','e','i','o','u'] # 모음
result = []

for word in words:
    if word in vowels: #모음이라면
        pass
        
    else: #자음이라면
        result.append(word)

print(result)
print(''.join(result)) #join ''로 두어서 , 없애기

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [217]:
# 1-2 for / if (모음이 아닌 경우)

vowels = ['a','e','i','o','u'] # 모음
result = [] # 문자열에서는 수정이 불가능하므로 append해줄 결과 리스트 필요

for word in words:
    if word not in vowels: #모음이 아닌경우 = 자음인 경우
        result.append(word)

        
    #else: #모음이라면
        
print(result)
print(''.join(result)) #join ''로 두어서 , 없애기

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [219]:
# 1-3 for / if (모음이 아닌 경우)

result = [] # 문자열에서는 수정이 불가능하므로 append해줄 결과 리스트 필요

for word in words:
    if word not in 'aeiou': #모음이 아닌경우 = 자음인 경우
        result.append(word)

        
    #else: #모음이라면
        
print(result)
print(''.join(result)) #join ''로 두어서 , 없애기

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [215]:
# 02. list comprehension

vowels = 'aeiou'
result = [word for word in words if word not in vowels]

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [225]:
# 03. replace 메소드 활용

vowels = 'aeiou'

for word in vowels: #for 다음의 word는 vowels의 하나하나를 의미
    words = words.replace(word,'')

print(words)

my nm s hng

# dictionary 메소드

In [43]:
info = {
    'name': 'hong',
    'location': 'seoul',
    'age': 20,
    'phone_book': {
        'kim':'010-1234-1234',
        'park':'010-4576-4576'
    },
    'models': ['iphone','ipad'],
}

In [19]:
print(info['name'])
print(info['age'])
print(info['phone_book']['park'])
print(info['models'][1])

hong
20
010-4576-4576
ipad

In [21]:
info['name'] = 'lee'
print(info)

{'name': 'lee', 'location': 'seoul', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4576-4576'}, 'models': ['iphone', 'ipad']}

In [24]:
info.update(name='choi')
print(info)

{'name': 'choi', 'location': 'seoul', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4576-4576'}, 'models': ['iphone', 'ipad']}

In [44]:
print(info.pop('location'))

seoul

In [38]:
# .get(가져오고 싶은 대상)
print(info.get('birth'))
print(info.get('name'))

None
choi

In [3]:
# 연습문제
blood_type = ['A','B','AB','O','A','A','B','O','B']

def blood_type():
    for blood in blood_type:
        if blood == A:
            return blood += blood_type

SyntaxError: invalid syntax (2996152931.py, line 7)

In [58]:
# 연습문제
blood_type = ['A','B','AB','O','A','A','B','O','B'] #딕셔너리로 키값 정리 (혈액형의 키값은 4가지밖에 없음.)

result = {
    'A':0,
    'B':0,
    'AB':0,
    'O':0,
}
for blood in blood_type:
    result[blood] += 1

print(result) # => {'A': 3, 'B': 3, 'AB': 1, 'O': 2}

{'A': 3, 'B': 3, 'AB': 1, 'O': 2}

In [57]:
locations = ['서울','대전', '서울', '부산','부산','대구'] #지역의 키값은 너무 많음. 0(데이터가 정해지지 않은 상태)

result = {} #딕셔너리를 비어있는 형태로 만들기

for location in locations:
    #if location in result.keys():
    if result.get(location):
        result[location] += 1
    else:
        result[location] = 1

print(result)

{'서울': 2, '대전': 1, '부산': 2, '대구': 1}

## dict comprehension

In [61]:
# {1:1, 2:8, 3:27, ... 10:1000}

result = {}
numbers = range(1,11)

for number in numbers:
    result[number] = number ** 3

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [161]:
result = {}

result = {number: number ** 3 for number in range(1,11)} #result = {k: v for k in 전체}

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [166]:
dust = {
    '서울': 50,
    '인천': 100,
    '수원': 30,
    '부산': 0, #끝까지 ,붙여야함.
}

result = {}

for key, value in dust.items(): #.item() #키,벨류값을 옆으로 출력 # for iten in dust.items(): #item = ('서울', 50)
    if value <= 30:
        result[key] = value

print(result)

{'수원': 30, '부산': 0}

In [167]:
# 02 dic comprehension

result = {k: '매우좋음' for k,v in dust.items() if v <= 30}
print(result)

{'수원': '매우좋음', '부산': '매우좋음'}

## set 메소드

- .add()
- .update()
- .remove()

In [84]:
fruits = {'apple','banana','melon'}

In [87]:
print(fruits) #set 순서가 바뀌어도 상관없음.

{'apple', 'melon', 'banana'}

In [96]:
#.add() => 항목 더하기

fruits.add('watermelon') 
print(fruits)

{'apple', 'melon', 'banana', 'orange', 'grape', 'watermelon'}

In [105]:
# .update() => 딕셔너리 수정

fruits.update({'orange','grape'})
print(fruits)

{'melon', 'banana', 'orange', 'grape', 'watermelon'}

In [112]:
# .remove() => 딕셔너리에서 항목 지우기

fruits.remove('banana')
print(fruits)

{'orange', 'grape', 'watermelon'}

## map, filter, zip (바로 계산하지 않아서 list 넣고 프린트)

- map : (fubction, iterable) => 시퀀스 타입 함수, 반복 가능한 객체(for문 가능한 것)
  **모든 리스트에 일괄적인 처리를 할때**
- filter :
- zip :

In [117]:
numbers = [1,2,3,4,5]
# =>  ['1','2','3','4','5']

result = []
for number in numbers:
    result.append(str(number))

print(result)

['1', '2', '3', '4', '5']

In [121]:
# 위 내용을 map을 사용해 표현

# map : 필요할 때만 연산함(사용자가 쓸 때 계산함.)

result = map(str, numbers)
print(result)             # =>  <map object at 0x000001E6328A1360> 임시 저장한 상태 
print(list(result))

<map object at 0x000001E632A68400>
['1', '2', '3', '4', '5']

In [152]:
# 연습 문제 

# 01. for문 활용
numbers = [1,2,3,4,5]

# => [1,8,27,64,125]

result = []
for number in numbers:
    result.append(number ** 3)

print(result)

[1, 8, 27, 64, 125]

In [178]:
# 02. map (일괄처리, 시퀀스 타입만 가능)

numbers = [1,2,3,4,5]
# => [1,8,27,64,125]

# 1) 세제곱하는 함수 만들기
def cube(x):
    return x ** 3

# 2) map(함수, 반복가능한 객체) = 함수를 반복적으로 처리
result = map(cube,numbers)

# 3) map은 바로 계산x, 필요할 때 계산하므로 list 넣고 출력
print(list(result))

[1, 8, 27, 64, 125]

In [177]:
test_input = '1 3 5 7 9'

# 1. 띄어쓰기 기준으로 나눈다
test_input.split()

# 2. 각 글자를 숫자로 바꾼다
map(int, test_input.split())

# 3. 리스트에 저장한다.
result = list(map(int, test_input.split()))

print(result)

[1, 3, 5, 7, 9]

## filter

- filter(function, iterable) : True or false로 나오는 것만 사용

In [147]:
def is_odd(x): #is_odd 함수 : 
    return x % 2

In [144]:
numbers = [1,2,3,4,5,6]

result = []
for number in numbers:
    if number % 2 == 1:
        result.append(number)

print(result)

[1, 3, 5]

In [146]:
result = filter(is_odd, numbers)
print(result)
print(list(result))

<filter object at 0x000001E632AB37F0>
[1, 3, 5]

## zip

In [151]:
a = [1,2,3]
b = [100,200,300]
c = ['a','b','c']

result = zip(a,b,c)
print(result)
print(list(result))

<zip object at 0x000001E632F62840>
[(1, 100, 'a'), (2, 200, 'b'), (3, 300, 'c')]