# Error

## 1. syntax error (문법 에러)

In [6]:
# ex) 1

if True:
    pass
else

SyntaxError: expected ':' (3591579285.py, line 5)

In [5]:
# ex) 2 

print('hello)

SyntaxError: unterminated string literal (detected at line 3) (1683747403.py, line 3)

## 2. exception (예외처리)

In [9]:
# 코드가 예상과 달리 동작했을 경우

print(5/0) # => ZeroDivisionError : 수학적인 관점에서 동작할 수 없음.

ZeroDivisionError: division by zero

In [12]:
# nameerror : ""가 없어서 변수 hello를 찾으려다 오류 / 변수 hello 지정 x

print(hello)

NameError: name 'hello' is not defined

In [16]:
# 연산자가 같지 않을때 int + str 

1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
# concatenate str (not "int") to str

'1' + 1

TypeError: can only concatenate str (not "int") to str

In [25]:
# 필요인자를 빠트렸을 경우 random.sample(,)

import random
random.sample([1,2,3,4,5],4)

[5, 3, 2, 4]

In [28]:
# valueerror

int('4.5')

ValueError: invalid literal for int() with base 10: '4.5'

In [31]:
# list 안에 index하고자 하는 숫자가 없음.

numbers = [1,2,3]
numbers.index(100)

ValueError: 100 is not in list

In [33]:
numbers[100]

IndexError: list index out of range

In [35]:
my_dict = {
    'apple' : '사과',
    'banana' : '바나나',
}

In [38]:
# my_dict 안에 찾고자 하는 인자가 없는 경우

my_dict['melon']

KeyError: 'melon'

In [42]:
# 모듈을 설치하지 않았을 때 모듈을 불러올 수 없는 에러 발생

import pandas

ModuleNotFoundError: No module named 'pandas'

In [47]:
import request

ModuleNotFoundError: No module named 'request'

### 2-1. 예외처리 (try except문)
```python 
try:
    code
except exception:
    code
```

In [54]:
try:
    number = int(input('숫자를 입력해주세요'))
    print(f'입력하신 {number}의 세제곱은 {number ** 3}입니다.')

except:
    print('숫자를 입력해달라고!!!')

숫자를 입력해주세요 422

입력하신 422의 세제곱은 75151448입니다.

In [58]:
try:
    num = int(input('100을 무엇으로 나누겠습니까?'))
    print(f'100을 {num}으로 나눈 결과는 {100 / num}입니다.')

except ValueError:
    print('입력한 데이터는 숫자가 아닙니다.')

except ZeroDivisionError:
    print('모든 수는 0으로 나눌 수 없습니다.')

100을 무엇으로 나누겠습니까? 45

100을 45으로 나눈 결과는 2.2222222222222223입니다.

In [65]:
try:
    numbers = [1,2,3]
    numbers[1]

except:
    print('오류입니다.')

else: # try를 실행하고 except 실행 안되었을 떄 else 실행 (오류가 나지 않았을 때 else 실행)
    print('여기는 else입니다.')

여기는 else입니다.

In [69]:
try:
    numbers = [1,2,3]
    numbers[11]

except:
    print('오류입니다.')

finally:  #finally는 무조건 실행됨.
    print('여기는 else입니다.')

오류입니다.
여기는 else입니다.

In [72]:
def my_div(a,b):
    try:
        return a/b
    except (ValueError, TypeError):
        return '숫자를 넣어주세요'
    except ZeroDivisionError:
        return '0으로 나눌 수 없습니다.'

my_div('1','0')

'숫자를 넣어주세요'